@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/* Body */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}

/* Header */
header {
  position: relative;
  width: 80%;
  height: 68px;
  margin: 0 auto;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Nav */
}
header nav {
  /* List */
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  /* Accueil */
  /* A Propos */
}
header nav ul .home a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #FF6060;
}
header nav ul .about a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #FF6060;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  height: 200px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo {
  position: relative;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  text-align: center;
  color: white;
}

.banner {
  position: relative;
  width: 80%;
  height: 223px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
  z-index: 1;
}
.banner .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../Assets/homepage_banner.png");
  background-repeat: no-repeat;
  z-index: 0;
  border-radius: 25px;
  background-size: 100%;
  background-position: center center;
}
.banner.about-banner .logo {
  background: url("../../Assets/about_banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
.banner h1 {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.card-container {
  position: relative;
  width: 75%;
  margin: 2rem auto;
  background: #F7F7F7;
  border-radius: 25px;
  padding: 2.6rem;
}
.card-container .card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-container .card {
  position: relative;
  width: calc(33% - 2rem);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}
.card-container .card::before {
  content: "";
  float: left;
  padding-top: 100%;
}
.card-container .card .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.card-container .card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.card-container .card .title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FFFFFF;
  text-align: center;
}/*# sourceMappingURL=App.css.map */